---
layout: archive
title: "Discrete Seminar"
permalink: /discrete seminar/
author_profile: true
---

I host my own discrete seminar in Peking University. 
We go through various topics, including extremal graph theory, additive combinatorics, probabilistic methods, algebraic methods, and discrete geometry. Besides, we also talk about some latest papers. Some of my lecture notes are attached here. 


[My favorite Problems](https://wuzhuomath.github.io/files/My%20favorite%20problems.pdf)
---

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
