---
layout: archive
title: "Discrete Seminar"
permalink: /discrete seminar/
author_profile: true
---

I'm holding a discrete seminar in Peking university now. We discuss various of beautiful combinatorics methods 
such as probabilistic method, alegbraic method, and questions such as Hilbert's third problem and Roth's theorem.
Besides, we also talk about some latest papers here. 
I will show some lecture notes here gradually.



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
